/* Global Styles */

html {
    font-size: 16px;
}
/* Element Styles */

body {
    display: grid;
    grid-template: 200px 150px 500px 500px 100px / repeat(12, 1fr);
    column-gap: 1rem;
    
}

img {
    max-height: 100%;
    max-width: 100%;
}

.title {
    grid-area: 1 / 1 / span 1 / span 12;
}

.description-container {
    grid-area: 2 / 2 / span 1 / span 10;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.desc-img-container {
    overflow: hidden;
    height: 70%;
}

/* Wellness Section Styles */

.wellness-container {
    grid-area: 3 / 2 / span 1 / span 10;
    display: flex;
}

.wellness-item {
    width: 20%;
}

.wellness-img {
    overflow: hidden;
    width: 100%;
}

#spa {
    grid-area: 2 / 3 / span 1 / span 2;
}

/* Fitness Section Styles */

.fitness-container {
    grid-area: 4 / 2 / span 1 / span 10;
    display: flex;
}

.fitness-item {
    width: 20%;
}

.fitness-img {
    overflow: hidden;
    width: 100%;
    
}

/* Screen size media queries */
@media only screen and (max-width: 760px) {
    body {
        grid-template: 200px 150px 500px 500px 100px / repeat(8, 1fr);
    }

    .title {
        grid-area: 1 / 1 / span 1 / span 8;
    }
    
    .description-container {
        grid-area: 2 / 2 / span 1 / span 6;
    }
    
    .wellness-container {
        grid-area: 3 / 2 / span 1 / span 6;
    }
    
    .fitness-container {
        grid-area: 4 / 2 / span 1 / span 6;
    }
}

@media only screen and (max-width: 480px) {
    body {
        grid-template: 200px 150px 500px 500px 100px / repeat(4, 1fr);
    }

    .title {
        grid-area: 1 / 1 / span 1 / span 4;
    }
    
    .description-container {
        grid-area: 2 / 1 / span 1 / span 4;
    }
    
    .wellness-container {
        grid-area: 3 / 1 / span 1 / span 4;
    }
    
    .fitness-container {
        grid-area: 4 / 1 / span 1 / span 4;
    }
}